/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    display: grid;
    background-color: #303446;
    color: #c6d0f5;
    font-family: 'Roboto Flex', sans-serif;
}

.centerbox {
    margin: auto;
    max-width: 500px;
    border-radius: 5px;
    background-color: #292c3c;
    padding: 10px;
}

.centerbox .logo {
    max-width: 300px;
    margin-bottom: 20px;
}

.centerbox .inputs {
    display: flex;
    flex-direction: column;
    padding: 2px;
    font-size: 15pt;
    margin-bottom: 20px;
}
