/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

body,html {
  height: 100%;
  display: grid;
  background-color: #1e1e2e;
  color: #cdd6f4;
  font-family: 'Noto Sans', sans-serif;
}

.center {
  margin: auto;
  max-width: 600px;
  border-radius: 5px;
  background-color: #292c3c;
  padding: 10px;
}

.center .title {
  font-size: 50pt;
  text-align: center;
}

.center .logo {
  max-width: 300px;
  margin-bottom: 20px;
}

.center .inputs {
  display: flex;
  flex-direction: column;
  padding: 2px;
  font-size: 15pt;
  margin-bottom: 20px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.center input {
  font-size: 12pt;
  background-color: #45475a;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #cdd6f4;
  width: 100%;
}

.center input:before {
  content: ": ";
  position: relative;
  display: block;
  z-index: 5;
}

.center .buttons {
  padding: 2px;
  font-size: 15pt;
  margin-bottom: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
}

.center button {
  text-align: center;
  background-color: #585b70;
  color: #cdd6f4;
  font-size: 13pt;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  min-width: 75px;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}

.center .hostbutton {
  background-color:#fab387;
  color:#313244;
}

.center .joinbutton {
  background-color:#a6e3a1;
  color:#313244;
}

.center button:hover {
  background-color: #b4befe;
  color: #313244;
}


/* Animations */
.blink {
  animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
