<!DOCTYPE html>
<html>

<head>
  <%- include('../../components/head'); %>
  <title>Blue Team</title>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
</head>

<body>
  <picture>
    <source srcset="/img/blueTeam.webp" type="image/webp">
    <source srcset="/img/blueTeam.png" type="image/png">
    <img src="/img/blueTeam.png" alt="Blue Team Logo"/>
  </picture>
  <br>
  <label for="name">Name:</label>
  <input id="name"></input>
  <br>
  <label for="roomCode">Code:</label>
  <input id="roomCode"></input>
  <br>
  <button onclick="host()">Host</button>
  <button onclick="join()">Join</button>
  <br>
  <button onclick="classSelect('Scout')">Scout</button>
  <button onclick="classSelect('Antivirus')">Antivirus</button>
  <button onclick="classSelect('Firewall')">Firewall</button>

  <input style="display:none" id="id"></input> <!-- Will be moved to game page -->
</body>

</html>

<script>
  const socket = io();
  function host() {
    socket.emit('host', document.getElementById('name').value)
  }

  function join() {
    var req = {
      name: document.getElementById('name').value,
      code: document.getElementById('roomCode').value
    }
    socket.emit('join', req)
  }

  function classSelect(type) {
    var req = {
      id: document.getElementById('id').value,
      code: document.getElementById('roomCode').value,
      type: type
    }
    socket.emit('type', req)
  }

  socket.on('success', function(data) {
    document.getElementById('roomCode').value = data
  })

  socket.on('error', function(data) {
    console.log(data)
  })

  socket.on('players', function(data) {
    console.log(data)
  })

  socket.on('id', function(id) {
    document.getElementById('id').value = id
  })
</script>