<!DOCTYPE html>
<html>

<head>
  <%- include('../../components/head'); %>
  <title>Blue Team</title>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
</head>

<body>
  <div class="centerbox">
    <span style="font-size: 60pt;" class="neontext">Blue Team</span>
    <p style="font-size: 24pt;text-align: center;animation: flicker 1s infinite alternate;" class="neontext">- the game -</p>
    <br>
    <div class="inputs">
      <label for="name">Name:</label>
      <input id="name"></input>
      <label for="roomCode">Code:</label>
      <input id="roomCode"></input>
    </div>
    <button onclick="host()">Host</button>
    <button onclick="join()">Join</button>
    <br>
    <button id="scout" onclick="build('Scout')">Scout</button>
    <button id="antivirus" onclick="build('Antivirus')">Antivirus</button>
    <button id="firewall" onclick="build('Firewall')">Firewall</button>
  </div>

  <input style="display:none" id="id"></input> <!-- Will be moved to game page -->
</body>

</html>

<script>
  const socket = io();
  function host() {
    socket.emit('host', document.getElementById('name').value)
  }

  function join() {
    var req = {
      name: document.getElementById('name').value,
      code: document.getElementById('roomCode').value
    }
    socket.emit('join', req)
  }

  function build(build) {
    var req = {
      id: document.getElementById('id').value,
      code: document.getElementById('roomCode').value,
      build: build
    }
    socket.emit('type', req)
  }

  socket.on('success', function(data) {
    document.getElementById('roomCode').value = data
  })

  socket.on('error', function(data) {
    console.log(data)
  })

  socket.on('players', function(data) {
    if(data.some((player) => player.build === 'Scout')) {
      document.getElementById('scout').style.display = 'none'
    } else {
      document.getElementById('scout').style.display = 'inline'
    }
    if(data.some((player) => player.build === 'Antivirus')) {
      document.getElementById('antivirus').style.display = 'none'
    } else {
      document.getElementById('antivirus').style.display = 'inline'
    }
    if(data.some((player) => player.build === 'Firewall')) {
      document.getElementById('firewall').style.display = 'none'
    } else {
      document.getElementById('firewall').style.display = 'inline'
    }
  })

  socket.on('id', function(id) {
    document.getElementById('id').value = id
  })
</script>
